body{

}

main > .red{
    display: inline-block;
    float: left;
    background-color: red;
}

.red > h1{
    text-align: center;
}
.red > p{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}