body{

}

main > .red{
    display: inline-block;
    float: left;
    width: 600px;
    margin: 20px calc(50% - 300px);
    border: 2px solid grey;
    background-color: red;
}

.red > h1{
    text-align: center;
}
.red > p{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}